/* @import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); */
@import url(https://db.onlinewebfonts.com/c/4c19fc875e7ba1e6831129de3ab5ac0b?family=Retro+Gaming);
@font-face {
    font-family: 'Depixel';
    src: url('./Font/depixel/depixelbreit.woff') format("woff");
    src: url('./Font/depixel/DePixelBreit.otf') format("opentype"), url('./Font/depixel/depixelbreit.woff2') format("woff"), url('./Font/depixel/DePixelBreit.ttf');
}
body{
    /* background: blue; */
}

/* NAVBAR */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav ul li{
    /* font-family: 'Averia Serif Libre'; */
    font-family: 'Retro Gaming';
    display: inline-block;
    line-height: 80px;
    /* margin: 0 2px; */
}
nav{
    background: transparent;
    height: 80px;
    width: 100%;
    position: sticky;

}
label.logo{
    color: black;
    font-size: 30px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;  
}
label.logo img{
    width: 80px;
}
nav ul{
    float: right;
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}
nav ul li a{
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    /* padding-left: 15px; */
    /* margin-left: 10px; */
    /* width: 90px; */
    /* gap: 9px; */
    padding: 5px;
}
a.active,a:hover{
    background-color: purple;
    color: white;
    transition: all .5s ease-in;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
}
#check{
    display: none;
}


/* ISI */
.container{
    display: flex;
    flex-direction: row;
    gap: 90px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid;
    /* background: rebeccapurple; */
    /* background-image: url('./Asset/BackChar.png'); */
    background-position: center;
    /* background-size:100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.char1desc{
    width: 50%;
}
.char1name{
    font-family: 'Depixel';
    margin-bottom: 3%;
}
.char1info{
    display: block;
    font-family: 'Depixel';
    /* width: 90%; */
    text-align: justify;
    /* text-align: center; */
}
.char1 img{
    width: 190px;
}
@media (max-width: 420px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .char1 img{
        width: 100px;
    }
    .char1info{
        font-size: 10px;
    }
    .char1name{
        font-size: 12px;
    }
}

@media (max-width:860px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        /* background: blue; */
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.active, a:hover{
        background: none;
        color: purple;
        transition: all .5s ease-in;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
