@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
    background-image: url('./assets/villa-ultraviolet.jpg');
    background-size: cover;
    font-family: 'Averia Serif Libre';
    background-color: #f4f4f4;
  }
  
  .bg {
    height: 100%;
    /* background-image: url('./assets/walk.gif'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .container {    
    width: 400px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
  }
  
  label.title {
    font-weight: bold;
  }
  
  .error {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
    height: 100%;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  